<div class='title '>{{title}}</div>
<mat-spinner color='warn' [diameter]='50' [ngStyle]="{}" *ngIf='loading'></mat-spinner>
<div cdkDropList class='example-list' (cdkDropListDropped)='drop($event)'>
  <task-card class='task-card example-box'
             *ngFor='let task of tasks'
             [task]='task'
             (completedToggle)='handleCompletedToggle()'
             cdkDrag>
  </task-card>
      <button mat-raised-button color="accent" style='width: 80%; margin: 0 10%;height: 50px' (click)='addTask()'>Add Task</button>
</div>


