.navbar{
  /*position: fixed;*/
  width: 100vw;
  background-color: #330033;
    box-shadow: inset 0 0 10px #777;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.butn{
  margin: 0 10px;
}
