<div id="background" class="flexcenter">
  <div class="box">
    <h3 class="heading">Login</h3>
    <div>
      <mat-form-field appearance="outline" class="input ">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <!--    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>

    </div>
    <div>
      <mat-form-field appearance="outline" class="input">
        <mat-label>Enter your password</mat-label>
        <input matInput placeholder="********" [formControl]="password" required>
        <!--    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" class="input login-button">Login</button>
    </div>
    <div>
      <button mat-stroked-button color="primary" class="input login-button" style="margin-top:10%" >
        Sign In with Google</button>
    </div>
    <div>
      <button mat-stroked-button color="primary" class="input login-button" style="margin-top:3%" >
        Sign In with Facebook</button>
    </div>





  </div>
</div>
