.flexcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
#background{
  background-color: #ffffff ;
  background-image: url('src/assets/endless-constellation.svg');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
.box{
  background: ghostwhite;
  /*height: 70%;*/
  width: 30%;
  padding: 2% 0;
  border-radius: 2%;
  box-shadow: gray 2px 2px 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;


}
.box div{
  width: 100%;
}
.heading{

  font-size: 200%;
  margin: 5% 0;
  font-weight: bold;
  text-transform: uppercase;
}

.input{
  width: 80%;
  margin: 10px 10%;

}

.login-button{
  height: 50px;
  font-size: large;
}


.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
